@charset "utf-8";

#wrap{
    /* width:100%; */
    /* height:100vh; */
    /* font-family: 'SUIT-Regular';*/
    font-family: 'Pretendard-Regular';
    position:relative;
    margin:0 auto;
    color:#333;
    /* background-color: #f1e8e3; */
}

/* ======================================================================= */
/* 인트로 섹션 */
#intro{
    width:100%;
    height:100vh;
    /* height:50vh; */
    /* background: linear-gradient(180deg, #488eb0 0%, #eaf4fe 100%); */
    /* background-color: rgb(61,66,74); */
    /* background-color: #674f80; */
    /* background-color: #f1e8e3; */
    position:relative;
    overflow:hidden;
    border-bottom:1px solid #333;
    /* padding:130px 0 100px; */
    /* padding:150px 0 130px; */
    padding:200px 0 150px;
}
.intro-wrap{
    width:1400px; 
    /* width:5000px; */
    height:100%;
    margin:0 auto;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.intro-wrap p{
    /* padding-left:35px; */
    font-size: 200px;
    /* font-family: "Tiempos Headline Medium"; */
    font-family:'DM serif Display';
    
}
.intro-wrap p:nth-child(1){
    animation:moveright 2s ease;
    color:#393939;
}
.intro-wrap p:nth-child(2){
    transform: translateX(0%);
    animation:moveleft 2s ease;
    /* color:#555555; */
    color:#003296;
}

@keyframes moveright{
    0%{
        transform: translateX(-100%);
        opacity:0;
    }
    100%{
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes moveleft{
    0%{
        transform:translateX(100%);
        opacity:0;
    }
    100%{
        transform: translateX(0%);;
        opacity: 1;
    }
}

@media (min-width:1000px) and (max-width:1399px){
    .intro-wrap{
        width:1000px;
    }  
}

@media (min-width:700px) and (max-width:999px){
    .intro-wrap{
        width:700px;
    }
}

@media (max-width:699px){
    .intro-wrap{
        width:90vw;
    }
}

.intro-textbox{
    animation:move 50s linear infinite;
    white-space: nowrap;
    position:absolute;
    top:30%;
}
.intro-textbox span{
    font-size:300px;
    color:#efefef;
}

@keyframes move{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

.me-img{
    width:37.5rem;
    position:absolute;
    /* top:50%; */
    top:37%;
    right:0;
    /* transform: translateY(-50%); */
}


/* ======================================================================= */
/* profile 섹션 */
#profile{
    width:100%;
    /* height:100vh; */
    /* padding:110px 0; */
    /* padding:200px 0 90px; */
    /* padding:150px 0; */
    padding:180px 0;
    overflow:hidden;
    /* background-color: #eaf4fe; */
    /* background-color: #fff9ee; */
}
.profile-wrap{
    width:1400px;
    height:100%;
    /* height:80%; */
    margin:0 auto;
    /* padding:80px 70px; */
    padding:60px 70px;
    /* padding:70px; */
    /* display:flex; */
    /* background-color:#fafafa; */
    border:1px solid #393939;
    /* border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */
    border-radius: 30px;
    /* position:absolute; */
    /* top:50%; */
    /* left:50%; */
    /* transform: translateX(-45%); */
}

@media (max-width:1399px){
    .profile-wrap{
        width:90vw;
    }
}

/* .aboutme{
    width:80%;
    padding-bottom:3%;
} */

.aboutme span{
    padding-right:15px;
    font-size:2rem;
    /* font-family: 'LINESeedKR-Bd'; */
    font-family: 'Pretendard-Regular';
    position:relative;
    font-weight: bold;
}
.aboutme span:nth-child(2){
    padding:0 16px 0px 22px;
    position:relative;
}
.aboutme span:nth-of-type(2)::after{
    content:'';
    width:4px;
    height:30px;
    background-color:#333;
    display:block;
    position:absolute;
    top:4px;
    left:0px;
}

.aboutme span:nth-child(3){
    /* padding:0 20px; */
    padding:0 16px 0px 22px;
    position:relative;
    /* color:#488eb0; */
    /* color:#674f80; */
    /* color: #6200ee; */
    color:#003296;
    /* color:#393939; */
}
.aboutme span:nth-of-type(3)::after{
    content:'';
    width:4px;
    height:30px;
    background-color:#333;
    display:block;
    position:absolute;
    top:4px;
    left:0px;
}
@media (min-width:1000px) and (max-width:1399px){
    .aboutme span:nth-of-type(2)::after{
        top:0%;
    }
    .aboutme span:nth-of-type(3)::after{
        top:0%;
    }
}
@media (max-width:699px){
    .aboutme{
        width:100%;
    }
    .aboutme span{
        font-size:4vw;
    }
    .aboutme span:nth-of-type(2)::after, .aboutme span:nth-of-type(3)::after{
        height:4vw;
    }
}
/* ===== profile 멘트(ment) ===== */
.ment{
    padding:3% 0 5%;
}
.ment p{
    /* font-size:1.05rem; */
    font-size:20px;
    line-height:1.6;
    word-break: keep-all;
    color:#212121;
}
.ment p>span{
    /* color:#488eb0; */
    /* color: #6200ee; */
    color:#003296;
    /* color:#393939; */
    font-size:1.5rem;
    font-weight: bold;
}
@media (max-width:699px){
    .ment p{
        font-size:3vw;
    }
    .ment p>span{
        font-size:3.5vw;
    }
}


/* ===== profile 자격증(certificate) ===== */
.introduce{
    width:100%;
    display:flex;
    padding-bottom:10px;
    border-bottom:1px solid #ababab;
}
.introduce>div h2{
    padding-bottom:5%;
    font-size:2.3rem;
    font-family: 'LeferiPoint-SpecialItalicA';
    font-weight: bold;
}
.introduce>div span{
    font-size:20px;
}

/* ===== profile 자격증(certificate) ===== */
.certi{
    /* width:80%; */
    width:50%;
    padding-bottom:1.5%;
    /* border-bottom: 1px solid #333; */
}
.certi span:nth-child(2){
    padding-right:20px;
    font-weight: bold;
}
.certi span:nth-child(3){
    /* color:#787878; */
    color:#686868;
}

/* ===== profile 교육사항(education) ===== */
.edu{
    /* width:80%; */
    width:50%;
    padding-bottom:1.5%;
    /* border-bottom: 1px solid #333; */
}
.edu_box{
    display:flex;
    /* align-items: center; */
    align-items: flex-start;
}
.edu_left span{
    padding-right:20px;
    font-weight: bold;
}
.edu_left>span:nth-child(2){
    padding-left:20px;
}
.edu-right span{
    /* color:#787878; */
    color:#686868;
}

@media (max-width:1399px){
    .certi{
        width:100%;
    }
    .edu{
        width:100%;
    }
}

/* @media (max-width:699px){
} */

/* ===== profile contact ===== */
.contact h2{
    padding:2% 0 1%;
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size:2.3rem;
    font-weight: bold;
    /* font-size:1.5rem; */
}
.contact>div{
    display:flex;
    align-items: center;
    padding:0.5% 0;
}
.contact img{
    width:2rem;
    height:2rem;
    font-size:1.9rem;
}
.contact p{
    display:inline-block;
    position:relative;
    padding-left:23px;
    font-size:1.2rem;
}
/* .contact td:nth-child(1){
    width:48px;
} */
.contact p:hover{
    cursor: pointer;
}

@media (min-width:1400px){
    .kakao p:after{
        content:'';
        /* width:272px; */
        width:309px;
        display:block;
        /* border-bottom:2px solid #488eb0; */
        /* border-bottom:2px solid #003296; */
        border-bottom:2px solid #393939;
        position:absolute;
        transition:transform 250ms ease-in-out;
        transform:scaleX(0);
    }
    .email p:after{
        content:'';
        /* width:176px; */
        width:206px;
        display:block;
        /* border-bottom:2px solid #488eb0; */
        /* border-bottom:2px solid #003296; */
        border-bottom:2px solid #393939;
        position:absolute;
        transition:transform 250ms ease-in-out;
        transform:scaleX(0);
    }
    .github p:after{
        content:'';
        /* width:224px; */
        width:250px;
        display:block;
        /* border-bottom:2px solid #488eb0; */
        /* border-bottom:2px solid #003296; */
        border-bottom:2px solid #393939;
        position:absolute;
        transition:transform 250ms ease-in-out;
        transform:scaleX(0);
    }
    .contact p:hover:after{
        transform:scaleX(1);
    }
}

/* @media (max-width:699px){
    .contact caption{
        font-size:5vw;
    }
    .contact tr td:nth-child(2){
        font-size:3.5vw;
    }
} */


/* ======================================================================= */
/* 스킬 섹션 */
#skill{
    width:100%;
    margin:0 auto;
    /* padding:110px 0; */
    padding:100px 0 200px;
    position:relative;
    /* background-color: #eaf4fe; */
    /* background-color: #674f80; */
}
@media (min-width:414px) and (max-width:1399px){
    #skill{
        padding:80px 0;
    }
}
@media (max-width:413px){
    #skill{
        padding:60px 0 50px;
    }
}

#skill h1{
    color:#fff;
    font-size: 9rem;
    font-family: 'SBAggroB';
    /* -webkit-text-stroke:2px #333; */
    -webkit-text-stroke:2px #393939;
    position:absolute;
    top:-10px;

}
@media (min-width:1400px){
    #skill h1{
        transform: translateX(-150%);
        transition: all 1.5s;
        opacity:0;
    }
}
@media (max-width:1399px){
    #skill h1{
        padding:0 3%;
        font-size:10vw;
        position:relative;
        top:0;
    }
}
@media (min-width:414px) and (max-width:699px){
    #skill h1{
        font-size:15vw;
    }
}
@media (max-width:413px){
    #skill h1{
        font-size:10vw;
    }
}

.skill-wrap{
    /* width:1400px; */
    width:1100px;
    margin:0 auto;
    display:grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    /* gap:50px 0px; */
    gap:30px 0;
    /* gap:30px; */
}
@media (max-width:1399px){
    .skill-wrap{
        width:90vw;
        gap:45px 0px;
    }
}
@media (max-width:1099px){
    .skill-wrap{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}
@media (max-width:879px){
    .skill-wrap{
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media (max-width:649px){
    .skill-wrap{
        grid-template-columns:1fr 1fr;
    }
}
@media (max-width:413px){
    .skill-wrap{
        gap:45px 0px;
    }
}

@media (max-width:389px){
    .skill-wrap{
        grid-template-columns:1fr;
    }
}
/* ===== skill 박스들 ===== */
.skill-wrap>div{
    /* width:206px; */
    width:15rem;
    /* height:206px; */
    height:15rem;
    /* background-color: #fff; */
    background-color: #fafafa;
    /* text-align: center; */
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 1px 5px #333; */
    box-shadow:5px 5px 10px #ababab;
    gap:25px;
    border-radius: 5px;
}

@media (min-width:1000px) and (max-width:1399px){
    .skill-wrap>div{
        max-width:190px;
        max-height:190px;
    }
}
@media (min-width:414px) and (max-width:999px){
     .skill-wrap>div{
        max-width:180px;
        max-height:180px;
    }       
}
@media (max-width:413px){
    .skill-wrap>div{
        max-width:170px;
        max-height:170px;
    }
}
@media (max-width:389px){
    .skill-wrap>div{
        max-width:180px;
        max-height:180px;
    }
}


.skill-wrap>div img{
    /* width:100px; */
    /* width:5rem; */
    width:4.5rem;
    /* height:100px; */
    /* height:5rem; */
    height:4.5rem;
    /* margin-bottom:15px; */
}
.skill-wrap>div:nth-of-type(15) img{
    margin-bottom:0;
}
.skill-git{
    width:100px;
    height:100px;
    margin-bottom:15px;
    font-size:100px;
}
.skill-wrap>div>p{
    text-align: center;
    font-family: 'LeferiPoint-SpecialItalicA';
    /* font-size: 20px; */
    /* font-size:1.5rem; */
    font-size:1.125rem;
    font-weight: bold;
}
.skill-text{
    width:100%;
    height:100%;
    /* padding:20px; */
    /* padding:20px 25px; */
    padding:30px;
    /* background-color:rgba(72, 142, 176,0.9); */
    /* background-color: rgba(98,0,238,0.8); */
    background-color:rgba(0, 50, 150,0.8);
    /* background-color:rgba(57, 57, 57,0.8); */
    color:#fff;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.skill-text p{
    line-height:30px;
    /* font-size:1.125rem; */
    font-size:1.25rem;
    color:#fafafa;
}
.skill-wrap>div:nth-child(2)>.skill-text p{
    font-size:1rem;
}

@media (max-width:1399px){
    .skill-text p{
        font-size:0.8rem;
    }
}
@media (max-width:999px) {
    .skill-wrap>div:nth-child(2) .skill-text p{
        font-size:0.78rem;
    }
    .skill-wrap>div .skill-text p{
        font-size:0.9rem;
    }
}
@media (max-width:413px){
    .skill-wrap>div:nth-child(2) .skill-text p{
        font-size:0.72rem;
    }
}


/* ====================================================================== */
/* 프로젝트 섹션 */
#project{
    width:100%;
    /* padding:100px 0; */
    padding:180px 0 200px;
    position:relative;
    /* background-color: #eaf4fe; */
}
@media (min-width:414px) and (max-width:1399px){
    #project{
        padding:80px 0;
    }
}
@media (max-width:413px){
    #project{
        padding:60px 0 50px;
    }
}

#project>h1{
    color:#fff;
    font-size: 8rem;
    font-family: 'SBAggroB';
    -webkit-text-stroke:2px #333;
    position:absolute;
    top:-10px;
}

@media (min-width:1400px){
    #project>h1{
        transform: translateX(-120%);
        transition: all 2s;
        opacity:0;
    }
}
@media (max-width:1399px){
    #project>h1{
        padding:0 3%;
        font-size:10vw;
        position:relative;
        top:0;
    }
}
@media (min-width:413px) and (max-width:699px){
    #project>h1{
        font-size:15vw;
    }
}
@media (max-width:413px){
    #project>h1{
        font-size:10vw;
    }
}


/* ===== 프로젝트 모든 요소들 ===== */
.project-wrap{
    width:1400px;
    /* height: 100%; */
    margin:0 auto;
    /* display:grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* justify-items: center; */
    /* align-items: center; */
    /* gap:30px 0; */
    /* z-index:2; */
    position:relative;
}
@media (max-width:1399px){
    .project-wrap{
        width:90vw;
    }
}
@media (min-width:1000px) and (max-width:1399px){
    .project-wrap{
        gap:30px 20px;
    }
}
@media (min-width:700px) and (max-width:999px){
    .project-wrap{
        gap:30px;
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media (max-width:699px){
    .project-wrap{
        grid-template-columns: 1fr 1fr;
        gap:30px;
    }
}

.project-tab{
    width:1400px;
    height:90px;
    margin:0 auto;
    padding-bottom:30px;
    display:flex;
    text-align: center;
    /* font-family: 'LeferiPoint-SpecialItalicA'; */
    font-family: 'LeferiPoint-SpecialA';
}
.project-tab li{
    width:25%;
    line-height: 2;
    font-size:2.3rem;
    /* border-radius: 15px; */
    /* border-bottom:2px solid #fafafa; */
    cursor: pointer;
    position:relative;
}

.project-tab li:nth-of-type(2)::after{
    content:'';
    width:2px;
    /* height:55px; */
    height:60px;
    background-color:#003296;
    /* background-color: #393939; */
    display:block;
    position:absolute;
    /* top:4px; */
    top:0px;
    left:0px;
}
.project-tab li:nth-of-type(3)::after{
    content:'';
    width:2px;
    /* height:55px; */
    height:60px;
    background-color:#003296;
    /* background-color: #393939; */
    display:block;
    position:absolute;
    /* top:4px; */
    top:0px;
    left:0px;
}
.project-tab li:nth-of-type(4)::after{
    content:'';
    width:2px;
    /* height:55px; */
    height:60px;
    background-color:#003296;
    /* background-color: #393939; */
    display:block;
    position:absolute;
    /* top:4px; */
    top:0px;
    left:0px;
}
.tabclick{
    /* background-color: #488eb0; */
    background-color: #003296;
    /* background-color: #393939; */
    color:#fafafa;
}


.project-report>div{
    height:35rem;
    padding:70px; 
    display:flex;
    /* background-color:#fafafa; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.project-report>div:not(:nth-child(1)){
    display:none;
}

.project-report-left{
    /* width:55%; */
    padding:0 60px;
}
/* .project-report-right{
    width:45%;
} */
.project-report-left h2{
    font-size: 2.5rem;
    /* padding-bottom:5%; */
}
.project-report-left h2 span{
    font-size:1.8rem;
}
.project-report-left p{
    font-size: 1.35rem;
    word-break:keep-all;
    line-height:1.5;
}
.project-report-left>p:not(:nth-child(2)){
    font-size:1.2rem;
}

.project-report-left p:nth-child(2){
    padding:40px 0 30px;
}
.project-report-left p span{
    font-size: 1.3rem;
    color:#636363;
}
.project-report-btn{
    display:flex;
    justify-content: space-between;
    padding:50px 0 0;
    width:27rem;
}






/* ===== btn 나머지 css는 btn.css에 따로 있음 ===== */
.project-btn{
    width: 100%;
    height:15%;
    border-top:1px solid #333;
    display:flex;
}
@media (min-width:1000px) and (max-width:1399px){
    .project-btn{
        height:20%;
    }
}
@media (min-width:700px) and (max-width:999px){
    .project-btn{
        height:20%;
    }
}
@media (max-width:699px){
    .project-btn{
        height:22%;
    }
}

.btn-left{
    width:50%;
    height:100%;
    border-right:1px dotted #333;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-left-one{
    width:50%;
    height: 100%;
    border-right:1px dotted #333;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-right{
    width:50%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
@media (max-width:1399px){
    .btn-left{
        flex-direction:column;
    }
    .btn-right{
        flex-direction: column;
    }
}
@media (max-width:699px){
    .btn-left{
        flex-direction:column;
    }
    .btn-right{
        flex-direction: column;
    }
}

.btn-right-one{
    width:50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}



/* ====================================================================== */
/* 디자인 섹션 */
#design{
    width:100%;
    padding:100px 0;
    position:relative;
    /* background: linear-gradient(180deg, rgba(234,244,254,1) 0%, rgba(72,142,176,1) 100%); */
}

@media (min-width:414px) and (max-width:1399px){
    #design{
        padding:80px 0;
    }
}
@media (max-width:413px){
    #design{
        padding:60px 0 50px;
    }
}

#design>h1{
    color:#fff;
    font-size: 8rem;
    font-family: 'SBAggroB';
    -webkit-text-stroke:2px #333;
    position:absolute;
    top:-10px;
}
@media (min-width:1400px){
    #design>h1{
        transform: translateX(-120%);
        transition: all 2s;
        opacity:0;
    }
}
@media (max-width:1399px){
    #design>h1{
        padding:0 3%;
        font-size:10vw;
        position:relative;
        top:0;
    }
}
@media (min-width:414px) and (max-width:699px){
    #design>h1{
        font-size:15vw;
    }
}
@media (max-width:413px){
    #design>h1{
        font-size:10vw;
    }
}

.design-wrap{
    width:1400px;
    height: 100%;
    margin:0 auto;
    position:relative;
}
@media (max-width:1399px){
    .design-wrap{
        width:90vw;
    }
}

.design-wrap h1{
    padding:20px 0;
    /* font-family: 'SBAggroB'; */
    /* font-family: 'LeferiPoint-SpecialItalicA'; */
    font-family: 'LeferiPoint-SpecialA';
    /* font-size: 2rem; */
    font-size:3rem;
    color:#393939;
}
@media (max-width:699px){
    .design-wrap h1{
        font-size:4vw;
    }
}

.design-wrap>div{
    width:100%;
    padding:30px 0;
}
@media (max-width:1399px){
    .design-wrap>div{
        padding:0 0 10px;
    }
}

.insta-imgbox{
    display:flex;
    justify-content:space-evenly;
}
.insta-imgbox>img{
    width:30%;
    cursor: pointer;
}

/* 배너 */
.banner{
    width:100%;
    overflow: hidden;
    position:relative;
}

/* .banner-wrap{
    width:1400px;
} */
.banner-wrap>img{
    width:40px;
    position:absolute;
    top:55%;
    /* top:50%; */
    transform: translateY(50%);
    cursor: pointer;
}
.pre{
    position:absolute;
    left:-8px;
}
.next{
    position:absolute;
    right:-8px;
}
@media (max-width:699px){
    .banner>img{
        width:4vw;
        top:60%;
    }
    .pre{
        left:0px;
    }
    .next{
        right:0px;
    }
}
.banner-imgbox{
    width:200%;
    display:flex;
    justify-content: space-around;
}
/* .banner-wrap{
    
} */
/* .banner-wrap>img{
    width:1328px;
} */
.banner-imgbox>img{
    width:1328px;
}
/* @media (max-width:1399px){
    .banner-wrap>img{
        width:80vw;
    }
} */



.insta-modal{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display:none;
}
.insta-modal-wrap{
    width:90%;
    max-width:700px;
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
@media (min-width:414px) and (max-width:1399px){
    .insta-modal-wrap{
        height:calc(100% - 50px);
    }
}
@media (max-width:413px){
    .insta-modal-wrap{
        height:auto;
    }
}

.insta-modal-wrap-box{
    height:100%;
    overflow-y: scroll;
}
.insta-modal-wrap-box img{
    width:100%;
}
.insta-modal-wrap p{
    text-align: right;
    color:#fff;
    font-size:2.5rem;
    cursor: pointer;
}

.banner-modal{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display:none;
}
.banner-modal-wrap{
    width:90%;
    max-width:1400px;
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.banner-modal-wrap img{
    width:100%;
}
.banner-modal-wrap p{
    text-align: right;
    color:#fff;
    font-size:2.5rem;
    cursor: pointer;
}
.insta-modal-wrap-box::-webkit-scrollbar{
    width:7px;
}
.insta-modal-wrap-box::-webkit-scrollbar-thumb{
    background-color:#488eb0;
    border-radius: 10px;
}
